* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    background-color: #202124;
    color: #DDDDDD;
    font-family: sans-serif;
}

.label-file {
    color: #FFFFFF;
    font-size: 16px;
    padding: 4px;
    margin-top: 4px;
    background-color: #0075FF;
    border: 1px solid #0075FF;
    border-radius: 2px;
}

.label-file:hover {
    box-shadow: #639cff59 0px 0px 0px 0px;
    background-color: #005CC8;
}

.input-file {
    display: none;
}

span {
    margin-left: 4px;
}

label {
    color: #DDDDDD;
}

button {
    font-size: 16px;
    padding: 4px;
    border: 1px solid #0075FF;
    border-radius: 2px;
    color: #FFFFFF;
    background-color: #0075FF;
}

button:hover {
    box-shadow: #639cff59 0px 0px 0px 0px;
    background-color: #005CC8;
}

.top-label {
    display:block;
}

canvas { 
    border: none; 
    background-color: #FF00FF;
}

.rectangle {
    border: 1px solid #FF0000;
    position: absolute;
    z-index: 10
}

.circle {
    border: 1px solid #FF0000;
    border-radius: 50%;
    position: absolute;
    z-index: 10
}

.container{
    margin: 8px;
}

.margin-top {
    margin: 6px 0px;
}

.border {
    border: 1px solid #DDDDDD;
}

.padding-block {
    padding: 4px;
}

.shadow {
    box-shadow: #005CC81f 0px 0px 0px 2px;
}

#zoom-value {
    vertical-align: top;
}

#body-shape {
    width:fit-content;
    padding: 4px;
}
